.leftNavArrow,
.rightNavArrow {
    cursor: pointer;
}

.navBtns {
    width: 100%;
    /* background-color: red; */
    position: absolute;
    z-index: 1;
    top: 38%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.disableIcon {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}