.musicPlayerStyles {
    border-top: 1px solid silver;
    padding: 0.5rem 2rem;
    padding-top: 1.25rem;

    display: flex;
    align-items: center;
    gap: 15rem;

    margin: 0 2rem;
}

.songDetails {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.songImg {
    width: 5rem;
    aspect-ratio: 1;
}

.songInfo {}


.name {
    font-size: 0.96rem;
    font-family: 'poppins';
    font-weight: 500;
}

.year {
    font-size: 0.8rem;
    color: var(--white-clr);
    font-family: 'poppins';
}