* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Poppins',sans-serif; */
:root {
    --primary-clr: #34C94B;
    --dark-clr: #121212;
    --white-clr: #FFF;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white-clr);
}


h4 {
    font-size: 0.9rem;
    color: var(--white-clr);
    font-weight: 300;
    margin: 0.15rem 0;
}

.btn {
    cursor: pointer;
}


/* =============
    Swiper Custom Styleing Added Blow
   ============= **/

.swiper {
    margin: 1rem 4rem !important;
}

.swiper-wrapper {
    padding: 0 1rem !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute !important;
    top: 50% !important;
    width: 2rem !important;
    height: 2rem !important;
    z-index: 10 !important;
    cursor: pointer !important;
    border-radius: 50%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--white-clr) !important;
    background-color: var(--primary-clr) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1rem !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    visibility: hidden !important;
}